@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&display=swap');

:root {
    --sidebar: #2C3333;
    --mainbody: #A5C9CA;
    --header: #395B64;
    --background: #E7F6F2;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .sidebar img {
    filter: invert();
  }

  .container {
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    display:grid;
    gap: 8px;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 2fr 8fr;
  }

  .header {
    background-color: var(--header);
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }







  .sidebar {
    background-color: var(--sidebar);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(13, 1fr);
    font-family: Lexend Deca;
  }

  .dashboard {
    font-weight: 800;
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sidebar-element {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .sidebar-element:hover {
    transform: scale(1.1);
    cursor:pointer;
  }

  .sidebar-text {
    color: white;
    font-weight: 400;
  }






  .projects {
    background-color: var(--mainbody);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
  }

  .project-label {
    color: var(--sidebar);
    font-family:'Dexend Deca', sans-serif;
    font-size: 2rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 223px);
    grid-template-rows: repeat(auto-fit, 223px);
    gap: 20px;
    padding: 30px;
  }

  .card {
    background-color: var(--background);
    border-radius: 10%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .card:hover {
    transform: scale(1.05);
    transition-duration: 500ms;
    animation-timing-function: ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
  }

  .card:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .card-text {
    background-color: rgba(0, 0, 0, 0.5);
    width: 223px;
    height: 223px;
    border-radius: 10%;
    font-family: sans-serif;
    font-size: 2rem;
    color:#E7F6F2;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
  }

  .card-text:hover {
    opacity: 0%;
    transition: 1s;
  }

    #card1 {
      background-image: url(./project-images/calc.png);
      background-size: cover;
    }

    #card2 {
      background-image: url(./project-images/form.png);
      background-size: cover;
    }
    #card3 {
      background-image: url(./project-images/landing.png);
      background-size: cover;
    }
    #card4 {
      background-image: url(./project-images/rps.png);
      background-size:contain;
    }



  .rightpanel {
    background-color: var(--mainbody);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .announcements {
    background-color: blue;
    height: 100px;
    width: 100px;
  }

  .trending {
    background-color: red;
    height: 100px;
    width: 100px;
  } 